.inputProduct {
    margin-right: 15px;
    width: 66.6%;
}

input[type="text"],
textarea {
    background-color: rgb(242, 242, 242);
}

.addProduct {
    border-radius: 5px;
    width: 33.3%;
    background-color: rgb(69, 75, 185);
    border-color: rgb(69, 75, 185);
    font-weight: 550;
    text-decoration: none;
}

.buttonText {
    color: white;
    text-decoration: none;
}

.addProduct:hover {
    background-color: rgb(69, 75, 185);
    border-color: rgb(69, 75, 185);
    filter: brightness(85%);
    color: white;
}

.naslov {
    padding: 30px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.unos {
    padding-bottom: 30px;
}

.podaci {
    color: rgb(255, 125, 123);
    text-decoration: none;
    font-weight: bold;
}

.numberProducts {
    display: flex;
    align-items: left;
}

.removeProducts {
    color: rgb(69, 75, 185);
    align-items: right;
    font-weight: 500;
}

.removeProducts:hover {
    color: rgb(255, 125, 123);
    cursor: pointer;
}

ul {
    list-style-type: none;
    overflow: auto;
    display: inline-block;
}

.productList {
    line-height: 2.5;
}

li {
    text-align: center;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-top: 15px;
    width: 100%;
    color: rgb(240, 125, 123);
    background-color: rgb(242, 242, 242);
    list-style-type: none;
}

li:hover {
    color: rgb(242, 242, 242);
    background-color: rgb(240, 125, 123);
}